#about {
  display: none;  
  font-family: 'Open Sans', sans-serif;
}

.flexContainerAbout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 14%;
  margin-left: 19.8%;
  animation: slideFadeInToLeft 0.5s ease-out;
}

.aboutText {
  color: #eaeaea;
  font-size: 1.8em;
  font-weight: 200;
  max-width: 55%;
  padding: 0% 5% 0% 5%;
}

.photoWrapper {
  height: 420px;
  width: 350px;
}

.photoWrapper img {
  height: auto;
  width: 100%;
  box-shadow: 15px 15px rgb(20, 20, 20);
}

.aboutPageTitle {
  z-index: -5;
  color: rgb(20, 20, 20);
  font-size: 20em;
  font-weight: 800;
  position: absolute;
  top: 27%;
  left: -15%;
  transform: rotate(90deg);
  animation: slideTitleUpToDown 0.5s ease;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttonWrapper a {
  display: block;
  height: 100%;
}

.navigateToHomeFromAbout {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding-bottom: 48px;
  text-decoration: none;
  background-color: transparent;
  color: #eaeaea;
  opacity: 0.6;
  font-size: 2em;
  z-index: 5;
  border: 1px solid #eaeaea;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: 1px solid transparent;
}

.navigateToHomeFromAbout:hover {
  background-color: #eaeaea;
  color: black;
  font-weight: bold;
  opacity: 1;
  transition: ease-in 0.2s;
}

.contactOnAbout {
  display: none;
}

@keyframes slideFadeInToLeft {
  0% {
    opacity: 0%;
    transform: translate(-150px);
  }
  100% {
    opacity: 100%;
    transform: translate(0px);
  }
}

@keyframes slideTitleUpToDown {
  0% {
    transform: translateY(-750px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1280px) {
  .flexContainerAbout {
    margin-left: 0;
    width: 100vw;
    justify-content: left;
  }
  .aboutPageTitle {
    font-size: 10em;
    transform: rotate(0deg);
    position: absolute;
    top: 0;
    left: 0;
    animation: slideFadeInToLeft 0.3s ease-out;
  }
  .photoWrapper {
    display: none;
  }
  .aboutText {
    font-size: 1.3em;
    max-width: 100%;
    margin: 0% 1% 0% 1%;
  }
  .photoWrapper {
    height: 320px;
    width: 300px;
  }
  .contactOnAbout {
    padding: 6%;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    display: block;
  }
}




