
#about {
  display: none;
  font-family: "Open Sans";
}

.flexContainerAbout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-left: 15%;
  animation: slideFadeInToLeft 0.5s ease-out;
}

.aboutText {
  color: #eaeaea;
  font-size: 1.5em;
  max-width: 55%;
  padding-left: 5%;
}

.photoWrapper{
  height: 420px;
  width: 350px;
}

.flexContainerAbout img {
  height: auto;
  width: 100%;
  box-shadow: 15px 15px rgb(20, 20, 20);
}

.aboutPageTitle {
  z-index: -5;
  color: rgb(20, 20, 20);
  font-size: 15em;
  font-weight: bold;
  position: absolute;
  top: 27%;
  left: -15%;
  transform: rotate(90deg);
  animation: slideTitleUpToDown 0.5s ease;
}

.navigateToHomeFromAbout {
  font-family: "Montserrat Thin";
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color:#eaeaea;
  opacity: 0.6;
  position: fixed;
  font-size: 1em;
  z-index: 5;
  border: 1px solid #eaeaea;
  cursor: pointer;
  height: 40px;
  width: 40px;
  top: 10vh;
  left: 90vw;
  border: 1px solid #eaeaea;
}

.navigateToHomeFromAbout:hover{
  background-color: #eaeaea;
  color:black;
  font-weight: bold;
  opacity: 1;
  transition: ease-in .2s;
}

@keyframes slideFadeInToLeft{
  0%{
    opacity: 0%;
    transform: translate(-150px);
  }
  100%{
    opacity: 100%;
    transform: translate(0px)
  }
}

@keyframes slideTitleUpToDown {
  0% {
    transform: translateY(-750px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 992px){
  .flexContainerAbout{
    margin-left: 0;
    width: 100vw;
    justify-content: center;
  }
  .aboutPageTitle{
    display: none;
  }
  .flexContainerAbout img{
    box-shadow: none;
    max-width: 90%;
  }
  .aboutText{
    font-size: 1em;
    max-width: 90%;
  }
}