
#about {
  display: none;
  font-family: "Open Sans";
}

.flexContainerAbout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10%;
}

.aboutText {
  color: #eaeaea;
  font-size: 1.5em;
  max-width: 55%;
  padding-left: 5%;
}

.flexContainerAbout img {
  height: 420px;
  width: 350px;
  box-shadow: 15px 15px rgb(20, 20, 20);
}

.aboutPageTitle {
  z-index: -1;
  color: rgb(20, 20, 20);
  font-size: 20em;
  font-weight: bold;
  position: fixed;
  top: -15vh;
  left: 43%;
  animation: slideTitleFromLeft 0.3s ease-out;
}

.navigateToHomeFromAbout {
  font-family: "Montserrat Thin";
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color:#eaeaea;
  position: fixed;
  font-size: 1.5em;
  z-index: 5;
  border: 1px solid #eaeaea;
  cursor: pointer;
  height: 40px;
  width: 40px;
  top: 10vh;
  left: 90vw;
  border: 1px solid #eaeaea;
}

.navigateToHomeFromAbout:hover{
  background-color: white;
  color:black;
}


@keyframes slideTitleFromLeft {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
  }
}