.contact {
  display: none;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 61%;
  left: 15%;
  font-size: 1em;
  letter-spacing: 0.1em;
  animation: FadeIn .3s ease-out;
  transition: .2s ease-out;
}

.buttonEffect{
  margin-block-start: 0;
  margin-block-end: 0;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(black 0, black 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.2s;
  background-position: 0 -0.1em;
}

.buttonEffect:hover{
  color: #eaeaea;
  background-size: 100% 100%;
}

.buttonEffectAbout{
  margin-block-start: 0;
  margin-block-end: 0;
  color: #eaeaea;
  text-decoration: none;
  background-image: linear-gradient(#eaeaea 0, #eaeaea 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.2s;
  background-position: 0 -0.1em;
}

.buttonEffectAbout:hover{
  color: black;
  background-size: 100% 100%;
}

@media screen and (max-width: 1280px){
  .contact{
    top: 75%;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
