.loader{
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 10;
    height: 100vh;
}

.logo{
    border-color: #eaeaea;
    font-size: 5em;
    letter-spacing: 2px;
    font-family: montserrat;
    font-weight: lighter;
    margin: 0;
    color: black;
}
