.loader{
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 10;
    height: 100vh;
    background-color: black;
}

@keyframes rotate{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

