#projects {
  display: none;
  font-family: "Open Sans";
}

.flexContainerProjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
}

.projectText {
  color: white;
  padding-right: 5%;
  max-width: 30%;
}

.projectText h1 {
  font-size: 3em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.projectText p {
  font-size: 1.3em;
}

.projectPhoto img {
  width: 560px;
  height: 280px;
  box-shadow: 15px 15px rgb(20, 20, 20);
}

.projectPageTitle {
  z-index: -1;
  color: rgb(20, 20, 20);
  font-size: 20em;
  font-weight: bold;
  position: fixed;;
  top: 45vh;
  left: -2%;
  animation: slideFromRightTitle 0.3s ease-out;
}

.navigateToHomeFromProjects {
  position: absolute;
  top: 80vh;
  left: 83vw;
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  background-image: linear-gradient(white 0, white 100%);
  background-size: 0 100%;
  background-position: 0 -0.1em;
  background-repeat: no-repeat;
  transition: background 0.2s;
}

.navigateToHomeFromProjects:hover {
  color: black;
  background-size: 100% 100%;
}

@keyframes slideFromRightTitle {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0px);
  }
}
