#projects {
  display: none;
  position: absolute;
  font-family: "Open Sans";
}

.flexContainerProjects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5% 15% 5% 15%;
  animation: slideFromRight 0.5s ease-out;
}

.projectText {
  color: #eaeaea;
  margin-bottom: 5%;
}

.projectText h1 {
  font-size: 3em;

}

.projectText p {
  font-size: 1.3em;
}

.whatLearned {
  color: #eaeaea;
}

.whatLearned h1{
  font-size: 2em;
}

.whatLearned p{
  font-size: 1em;
}

.projectPhoto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5%;
}

.projectPhoto img{
  max-width: 480px;
  max-height: 360px;
  margin-bottom: 2%;
}

.projectPageTitle {
  z-index: -1;
  color: rgb(20, 20, 20);
  font-size: 11em;
  font-weight: bold;
  position: fixed;
  top: 34vh;
  left: -16%;
  transform: rotate(90deg);
  animation: slideTitleUpToDown 0.5s ease;
}

.navigateToHomeFromProjects {
  font-family: "Montserrat Thin";
  text-align: center;
  text-decoration: none;
  padding-bottom: 48px;
  background-color: transparent;
  opacity: 0.6;
  color:#eaeaea;
  font-size: 2em;
  z-index: 5;
  border: 1px solid #eaeaea;
  cursor: pointer;
  height: 40px;
  width: 50px;
  border: 1px solid transparent;

}

.navigateToHomeFromProjects:hover {
  background-color: #eaeaea;
  color:black;
  font-weight: bold;
  opacity: 1;
  transition: ease-in .2s;
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideTitleUpToDown {
  0% {
    transform: translateY(-750px) rotate(90deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@media screen and (max-width: 1024px){
  .flexContainerProjects {
    margin: 10% 0% 0% 5%;
    animation: slideFromRight 0.5s ease-out;
  }
  .projectPageTitle{
    font-size: 4em;
    transform: rotate(0deg);
    position: absolute;
    top: 0;
    left: 0;
    animation: slideFromRight 0.3s ease-out;
  }
  .projectPhoto{
    justify-content: start;
  }
  .projectPhoto img{
    max-width: 300px;
    max-height: 210px;
    margin-bottom: 10%;
  }
  .projectText p{
    margin-right: 10%;
    margin-top: 10%;
    font-size: 1em;
  }
  .projectText h1{
    font-size: 2em;
  }
  .whatLearned h1{
    font-size: 1em;
  }
  
  .whatLearned p{
    font-size: 0.8em;
  }
}