#projects {
  display: none;
  position: absolute;
  font-family: "Open Sans";
}

.flexContainerProjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
}

.projectText {
  color: #eaeaea;
  padding-right: 5%;
  max-width: 30%;
}

.projectText h1 {
  font-size: 3em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.projectText p {
  font-size: 1.3em;
}

.projectPhoto img {
  max-width: 480px;
  max-height: 360px;
  box-shadow: 15px 15px rgb(20, 20, 20);
}

.projectPageTitle {
  z-index: -1;
  color: rgb(20, 20, 20);
  font-size: 20em;
  font-weight: bold;
  position: fixed;
  top: 45vh;
  left: -2%;
  animation: slideFromRightTitle 0.3s ease-out;
}

.navigateToHomeFromProjects {
  font-family: "Montserrat Thin";
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color:#eaeaea;
  position: fixed;
  font-size: 1.5em;
  z-index: 5;
  border: 1px solid #eaeaea;
  cursor: pointer;
  height: 40px;
  width: 40px;
  top: 10vh;
  left: 90vw;
  border: 1px solid #eaeaea;
}

.navigateToHomeFromProjects:hover {
  background-color: white;
  color:black;
  
}

@keyframes slideFromRightTitle {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0px);
  }
}
